<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fsd38.empserv" version="2.0.0"
	xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Join the Foothills Family</name>
	<description>
		FSD serves the learning needs of more than 8,000 students in preschool through grade 12, and employs over 800 teachers and support staff. Located on the City of Calgary’s southern border within the Municipal District of Foothills, the Division encompasses the Towns of Okotoks, High River, Black Diamond and Turner Valley as well as the communities served by our Blackie, Cayley, Heritage Heights (DeWinton), Longview, Millarville and Red Deer Lake (south Calgary) schools.
	</description>
	<author email="stevensd@fsd38.ab.ca" href="http://www.fsd38.ab.ca">
		Foothills School Division
	</author>
	<content src="index.html" />
	<plugin name="cordova-plugin-whitelist" spec="1" />
	
	
	
	
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
	<allow-navigation href="*" />
	<platform name="android">
		<allow-intent href="market:*" />
	</platform>
	<platform name="ios">
		<allow-intent href="itms:*" />
		<allow-intent href="itms-apps:*" />
	</platform>
	<plugin name="cordova-inappbrowser" spec="~1.0.6" />
	<plugin name="cordova-plugin-statusbar" spec="~2.2.0" />

	<engine name="android" spec="6.2.0-nightly.2016.11.23.3bfeda4a" />
	<engine name="ios" spec="4.4.0-nightly.2016.11.23.4b864624" />
	<plugin name="cordova-plugin-statusbar-hide-on-startup" spec="~0.1.7" />

	<access origin="http://205.204.88.185" subdomains="true" />
	<access origin="*" subdomains="true" />
	<access origin="http://www.fsd38.ab.ca" subdomains="true" />
</widget>
